/16924_servlets/servlets/target/
/16925_jpa/jpa/nbproject/
/16925_jpa/jpa/target/
/16926_beanvalidation/beanvalidation/nbproject/
/16926_beanvalidation/beanvalidation/target/
/16927_docker/docker/target/
/16930_microservices/microservice-mono/nbproject/
/16930_microservices/microservice-mono/target/
/16930_microservices/microservice-player/nbproject/
/16930_microservices/microservice-player/target/
/16930_microservices/microservice-rank/target/
/16930_microservices/microservice-gateway/target/
/templates/16924_servlets/servlets/target/
/templates/16925_jpa/jpa/target/
/templates/16926_beanvalidation/beanvalidation/target/
/templates/16927_docker/docker/target/
/templates/16930_microservices/microservice-gateway/target/
/templates/16930_microservices/microservice-mono/target/
/templates/16930_microservices/microservice-player/target/
/templates/16930_microservices/microservice-rank/target/
/templates/templates/16924_servlets/servlets/target/
/templates/templates/16925_jpa/jpa/target/
/templates/templates/16926_beanvalidation/beanvalidation/target/
/templates/templates/16927_docker/docker/target/
/templates/templates/16930_microservices/microservice-gateway/target/
/templates/templates/16930_microservices/microservice-mono/target/
/templates/templates/16930_microservices/microservice-player/target/
/templates/templates/16930_microservices/microservice-rank/target/
/templates/16925_jpa/jpa/nbproject/
/templates/16926_beanvalidation/beanvalidation/nbproject/
/templates/16930_microservices/microservice-mono/nbproject/
/templates/16930_microservices/microservice-player/nbproject/
/templates/templates/16925_jpa/jpa/nbproject/
/templates/templates/16926_beanvalidation/beanvalidation/nbproject/
/templates/templates/16930_microservices/microservice-mono/nbproject/
/templates/templates/16930_microservices/microservice-player/nbproject/